@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.container {
  max-width: 720px;
  margin: auto;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

:root {
  --dark-color: #333;
  --light-color: #fff;
}

body {
  color: var(--dark-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}
